.container{
}
table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  padding: 15px;
  text-align: left;
  border: 1px solid black;
}
td {
  height: 40px;
  width: 200px;
}
Column a:hover {
  background-color: aqua;
}
.jobCard {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
}
.jobInCard {
  border: solid 1px;
  padding: 10px;
  margin: auto;
  width: 120px;
}
.table-cell {
  padding: 20px;
  justify-content: center;
}
.work-box {
  border-bottom: 2px solid #eee6e6;
}




/* Work */
.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding: 15px;
}

.flexbox .board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: rgb(190, 209, 209);
  padding: 15px;
}

.flexbox .board .card {
  padding: 15px 25px;
  background-color: #f3f3f3;
  cursor: pointer;
  margin-bottom: 20px;
}
